//Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
$poppins: "Poppins", sans-serif;

//Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
$inter: "Inter", sans-serif;

$crema: #f0f0f0;
$rojo_principal: #c7020f;
$rojo_secundario: #d1382b;
$negro: #2b2b2b;

* {
    transition: all 0.3s ease;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $crema;
}

.button {
    border-radius: 8px;
    background-color: $negro;
    padding: 8px 24px 8px 24px;
    cursor: pointer;

    &.small {
        font-size: 24px;
        font-weight: 100;
        font-family: $inter;
        color: $crema;
    }
    &.big {
        font-size: 44px;
        font-weight: medium;
        font-family: $poppins;
        color: $crema;
    }
}

iframe {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 5px;
    vertical-align: top;
}

#breadcrumb {
    margin-left: 3%;
    font-family: $inter;
    font-size: 16px;
    color: $negro;
}