@use "template";
#header_hr {
    width: 95%;
}
header {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    overflow: hidden;
    #menu {
        margin-left: 50px;
        width: 50px;
        height: 50px;
        position: relative;
        transition: transform 0.3s ease;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: template.$negro;
        font-family: template.$poppins;
        font-size:32px;
        gap:10px;
        display:none;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            filter: invert(32%) sepia(98%) saturate(7432%) hue-rotate(355deg) brightness(80%);
        }
        @media (max-width: template.$mobile) {
            display: flex;
            width:35px;
            height: 35px;
            font-size: 35px;
            margin-left:20px;
            img{
                height: 100%;
            }
        }
    }
    #title {
        height: 100px;
        width: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: template.$mobile) {
            left:100%;
            transform: translateX(-120%);
            height:70px;
        }
    }
    nav {
        width:100%;
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 20px;
            justify-content: space-between;
            li {
                margin: 20px;
                font-family: "Inter", sans-serif;
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 24px;
                    position: relative;
                    display: inline-block;
                    &:hover {
                        transform: scale(1.1);
                    }
                    &.underline:hover {
                        color: template.$rojo_principal;
                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            left: 0;
                            bottom: -5px;
                            width: 0%;
                            height: 2px;
                            background-color: template.$rojo_principal;
                            animation: underline 0.4s forwards;
                            overflow-x: hidden;
                        }
                    }
                }
            }
        }

        #profile,
        #cart {
            aspect-ratio: 1/1;
            max-width: 50px;
            max-height: 50px;
            @media (max-width: template.$mobile) {
            display: none;
        }
        }
    }
}

@keyframes underline {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}

@keyframes slideInMenu {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

//tablet
@media (max-width: 1023px) {
}

//movil
@media (max-width: 767px) {
}
