@use "template";

#hero {
    #hero_CAs {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        li {
            button {
                img {
                    width: 20px;
                    height: 20px;
                    margin-left: 200px;
                    transform: rotateZ(-90deg);
                    filter: invert(1);
                }
                &:hover {
                    transform: scale(1.05);
                    background-color: darken($color: template.$negro, $amount: 5);
                }
            }
        }
    }
    #hero_text {
        padding-left: 10%;
        padding-top: 2%;
        h1 {
            font-family: template.$poppins;
            font-size: 68px;
            margin: 0;
        }
        span {
            font-family: template.$inter;
            font-size: 28px;
            margin-left: 2%;
            color: #757575;
        }
        #hero_bigCA {
            position: absolute;
            right: 5%;
            height: 20%;
            width: 30%;
            transform: translateY(-60%);
            animation: bigCAglow 2s ease-in-out infinite;
            &:hover {
                animation-play-state: paused;
                background-color: lighten($color: template.$negro, $amount: 5);
                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
            }
        }
    }
    #searchbar {
        background-color: darken(template.$crema, 10);
        padding: 5px;
        padding-right: 30px;
        border: 2px solid darken(template.$crema, 15);
        width: 70%;
        height: 25vh;
        justify-self: center;
        border-radius: 64px;
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
            background-color: transparent;
            width: 90%;
            border: none;
            font-size: 32px;
            font-family: template.$poppins;
            margin-left: 40px;
            outline: none;
            :focus {
                outline: none;
                border: none;
            }
        }
        img {
            height: 60%;
        }
    }
}
#featuredItems {
    height: 80vh;
    width: 90%;
    border-bottom: 1px solid template.$negro;
    justify-self: center;
    margin: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    h2 {
        font-family: template.$poppins;
        font-size: 48px;
    }
    #featuredItemsList {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap:2%;
        .ftdItem {
            width: 100%;
            height: 80%;
            border-radius:6px;
            border: 1px solid #bbb;
            display:flex;
            flex-direction: column;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
footer {
    height: 10vh;
    width: 100%;
    background-color: template.$negro;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: template.$crema;
    font-family: template.$inter;
    font-size: 18px;
}

@keyframes bigCAglow {
    0% {
        scale: 1;
        box-shadow: none;
    }
    50% {
        scale: 1.05;
        box-shadow: 0px 0px 20px 5px rgba(template.$rojo_secundario, 0.4);
    }
    100% {
        scale: 1;
        box-shadow: none;
    }
}
