@use "template";

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: template.$crema;
}

header{
    width: 100vw;
    height: 20%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
    #menu{
        margin-left: 50px;
        width: 50px;
        height: 50px;
    }
    #title{
        height: 100px;
        width: auto;
    }
}