@use "template";

#breadcrumb {
    margin-left: 3%;
    font-family: template.$inter;
    font-size: 16px;
    color: template.$negro;
}
#hero {
    #hero_CAs {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        li {
            button {
                img {
                    width: 20px;
                    height: 20px;
                    margin-left: 200px;
                    transform: rotateZ(-90deg);
                    filter: invert(1);
                }
                &:hover {
                    transform: scale(1.05);
                    background-color: darken($color: template.$negro, $amount: 5);
                }
            }
        }
    }
    #hero_text {
        padding-left: 10%;
        padding-top: 2%;
        h1 {
            font-family: template.$poppins;
            font-size: 68px;
            margin: 0;
        }
        span {
            font-family: template.$inter;
            font-size: 28px;
            margin-left: 2%;
            color: #757575;
        }
        #hero_bigCA {
            position: absolute;
            right: 5%;
            height: 20%;
            width: 30%;
            transform: translateY(-60%);
            animation: bigCAglow 2s ease-in-out infinite;
            &:hover {
                animation-play-state: paused;
                background-color: lighten($color: template.$negro, $amount: 5);
                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
            }
        }
    }
    #searchbar {
        background-color: darken(template.$crema, 10);
        padding: 5px;
        padding-right: 30px;
        border: 2px solid darken(template.$crema, 15);
        width: 70%;
        height: 25vh;
        justify-self: center;
        border-radius: 64px;
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
            background-color: transparent;
            width: 90%;
            border: none;
            font-size: 32px;
            font-family: template.$poppins;
            margin-left: 40px;
            outline: none;
            :focus {
                outline: none;
                border: none;
            }
        }
        img {
            height: 60%;
        }
    }
}

@keyframes bigCAglow {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.05;
    }
    100% {
        scale: 1;
    }
}
