@use "template";

#hero {
    #hero_CAs {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        flex-wrap: wrap;

        @media (max-width: template.$tablet) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        li {
            button {
                display: flex;
                justify-content: space-between;
                width: 20vw;
                @media (max-width: template.$tablet) {
                    width: 80vw;
                }
                img {
                    width: 20px;
                    height: 20px;
                    transform: rotateZ(-90deg);
                    filter: invert(1);
                }
                &:hover {
                    transform: scale(1.05);
                    background-color: darken($color: template.$negro, $amount: 5);
                }
            }
        }
    }
    #hero_text {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 2% 10% 0 10%;
        gap:20px;
        h1 {
            font-family: template.$poppins;
            font-size: 60px;
            margin: 0;
            @media (max-width: template.$tablet) {
                font-size: 40px;
            }
        }
        span {
            font-family: template.$inter;
            font-size: 28px;
            margin-left: 2%;
            color: #757575;
            @media (max-width: template.$tablet) {
                font-size: 20px;
            }
        }
        #hero_bigCA {
            height: 8rem;
            width: 30%;
            animation: bigCAglow 2s ease-in-out infinite;
            font-size: 2rem;
            @media (max-width: template.$tablet) {
                width:80vw;
            }
            &:hover {
                animation-play-state: paused;
                background-color: lighten($color: template.$negro, $amount: 5);
                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
            }
        }
    }
    #searchbar {
        background-color: darken(template.$crema, 10);
        padding: 5px;
        padding-right: 30px;
        border: 2px solid darken(template.$crema, 15);
        width: 70%;
        height: 25vh;
        justify-self: center;
        border-radius: 64px;
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
            background-color: transparent;
            width: 90%;
            border: none;
            font-size: 32px;
            font-family: template.$poppins;
            margin-left: 40px;
            outline: none;
            :focus {
                outline: none;
                border: none;
            }
        }
        img {
            height: 60%;
        }
    }
}
#featuredItems {
    height: 80vh;
    width: 80%;
    justify-self: center;
    margin: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    h2 {
        font-family: template.$poppins;
        font-size: 48px;
    }
    #featuredItemsList {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 5%;
        .ftdItem {
            width: auto;
            height: fit-content;
            border-radius: 6px;
            border: 1px solid #bbb;
            display: flex;
            flex-direction: column;
            padding: 1%;
            gap: 1%;
            img {
                width: 100%;
                min-height: 25vh;
                object-fit: cover;
            }
            h3 {
                font-family: template.$poppins;
            }
            span {
                font-family: template.$inter;
            }
            .button {
                margin-top: 3vh;
                color: template.$crema;
                font-family: template.$inter;
                text-align: left;
            }
        }
    }
}
footer {
    height: 30vh;
    width: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 3rem;
    padding: 2rem 0 3.5rem 4rem;
    border-top: 1px solid #bbb;
    font-family: template.$inter;
    h3 {
        margin: 2.5rem;
        margin-bottom: 7.5rem;
        font-size: 28px;
        font-weight: 200;
    }

    .social {
        display: flex;
        gap: 1.5rem;
        a {
            font-size: 25px;
        }
    }
    .footer-col {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        a {
            text-decoration: none;
            color: template.$negro;
        }
    }
    .footer-col h4 {
        margin-bottom: 1rem;
    }
}

@keyframes bigCAglow {
    0% {
        scale: 1;
        box-shadow: none;
    }
    50% {
        scale: 1.05;
        box-shadow: 0px 0px 20px 5px rgba(template.$negro, 0.4);
    }
    100% {
        scale: 1;
        box-shadow: none;
    }
}

@media (max-width: 1407px) {
}
