@use "template";

:root {
    --color: $rojo_principal;
}
body {
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: template.$poppins;
}

#a_go_back{
    position: absolute;
    top:0;
    left:0;
    margin: 20px;
    color: template.$negro;
    font-size:20px;
    display: flex;
    align-items: center;
    width:fit-content;
    text-decoration: none;
    gap:10px;

    #back{
    width:30px;
    height: 30px;
    cursor: pointer;
    transform: rotateZ(90deg);
}
}


.box {
    background: #fff;
    width: 800px;
    height: 450px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    scale: 1.2;
}

.form-box {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    transition: 0.5s;
}
.register-box {
    left: 0;
}
.login-box {
    right: 0;
}

.overlay {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    background: linear-gradient(45deg, darken(template.$rojo_principal, 20), lighten(template.$rojo_principal, 20));
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.6s ease-in-out;
    z-index: 10;
}

.box.active .overlay {
    transform: translateX(-100%);
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    cursor: pointer;
    background: template.$rojo_secundario;
    color: template.$crema;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    margin-top: 10px;
}
.ghost {
    background: transparent;
    border: 2px solid white;
}
